{% extends "base.html" %}
{% load crispy_forms_tags %}
<!--{% block title %}Reset your password{% endblock %}-->
{% block content %}
<h1>Vous voulez changer votre mot de passe ?</h1>
{% if validlink %}
<p>Veuillez entrer le nouveau mot de passe:</p>
<form action="." method="post" class="col-md-8">
    {% csrf_token %}
    {{form|crispy}}

        <input type="submit" class="btn btn-success btn-lg pull-right" value="Je valide et change le mot de passe" />
        <a href="{% url 'login' %}"  class="btn btn-primary btn-lg pull-left"> Retourner à la page de connexion </a>


</form>
{% else %}
<p>Lien invalide ? Ceci peut être la cause: C'est un lien à usage unique.
    Et il est possible qu'il ait déjà été utilisé.
    Pour avoir un nouveau lien, Vous pouvez faire une nouvelle requête .</p>
{% endif %}
{% endblock %}