{% extends "base.html" %}
{% load crispy_forms_tags %}
<!--{% block title %}Reset your password{% endblock %}-->
{% block content %}
{% load crispy_forms_tags %}
<h1>Mot de passe oublié: ?</h1>
<p>Renseigner votre e-mail, pour choisir un nouveau mot de passe.</p>
<form action="." method="post" class="col-md-8">

    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" class="btn btn-success btn-lg pull-right" value="Envoyer">
    <a href="{% url 'login' %}"  class="btn btn-primary btn-lg pull-left"> Retourner à la page de connexion </a>

</form>
{% endblock %}