
<!--<div class="navbar navbar-inverse navbar-fixed-bottom">-->
<!--<div class="container">-->
<!--<p class="navbar-text">© Django - DevOps@Admin Sys Linux</p>-->
<!--</div>-->
<!--</div>-->

   <!-- START FOOTER DARK-->
   <div class="navbar navbar-inverse navbar-fixed-bottom" style="height:220px">
       <div class="row">

    <div class="text-center">
        <ul class="list-inline">
            <li><a href="#">Conditions d'utilisation</a></li>
            <li><a href="#">Protection de vos données personnelles</a></li>
            <li><a href="#">Aide ?</a></li>
            <li><a href="#">Cookies</a></li>
      </ul>
</div>
  </div>
<div>
<p class="navbar-text">© All Rights Reserved. By Cybersecurity Training Purpose </p>
</div>
   </div>
